body {
    font-family: Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
}
header {
    background-color: #bfbfbf;
    color: black;
    padding: 10px;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-indent: 50px;
}